<header>
  <div class="container">
    <span>Our blog</span>
    <h1>Resources and insights</h1>
    <p>The latest industry news, interviews, technologies, and resources.</p>
    <div class="search">
      <form class="container-fluid">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="🔍 Search..."
            aria-label="Search"
            aria-describedby="basic-addon1"
          />
        </div>
      </form>
    </div>
  </div>
</header>
